<div class="d-flex flex-column flex-shrink-0 p-3 bg-light min-vh-100">
  <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
          <a href="{{url_for('ahp')}}" class="nav-link link-dark">
              AHP
          </a>
      </li>
      <li>
          <a href="{{url_for('topsis')}}" class="nav-link link-dark">
              TOPSIS
          </a>
      </li>
      <li>
          <a href="{{url_for('promethee')}}" class="nav-link link-dark">
              PROMETHEE
          </a>
      </li>
      <li>
          <a href="{{url_for('wsm')}}" class="nav-link link-dark">
             WSM
          </a>
      </li>
      <hr>
      <li>
        <a href="{{url_for('upload')}}" class="nav-link link-dark">
          Nalaganje podatkov
        </a>
      </li>
    </ul>
</div>
